body {
  color: rgb(220, 7, 7);
}

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

header {
  border: 3px solid rgb(230, 3, 3);

}

.container-main {
  border: 3px solid rgb(47, 5, 214);

}

.game-boards {
  display: flex;
  border: 3px solid rgb(8, 198, 62);

}

.square{

  text-align: center;
  background-color: black;
  border: 0px solid rgb(103, 1, 1);
  padding: 0px;
}
td {
  padding: 0px;
  width: 50px;
  height: 50px;
}
.label {
  text-align: center;
}

.player-board {
  border: 1px solid rgb(10, 98, 142);

}

.computer-board {
  border: 1px solid rgb(17, 173, 197);

}

footer {
  display: flex;
  border: 3px solid black;

}

.copyright {
  border: 1px solid rgb(199, 8, 206);

}

.info-link {
  border: 1px solid rgb(178, 5, 135);

}
.ship {
  background-color: white;
  width: 50px;
  height: 50px;
}
 .square:hover{
  background-color: white;
 
}