body {
  color: rgb(112, 134, 190);
  background-color: rgb(61, 63, 70);
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 900px;
  width: 100%;
}

table {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

header {
  text-align: center;
}

.message {
  text-align: center;
}

.game-boards {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.selection {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.ship-selection1 {
  display: flex;
  gap: 4px;
}

.ship-selection2 {
  display: flex;
  gap: 4px;
}

.vertical-selection {
  margin: auto;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 2px 2px 2px 2px black
}

.vertical-selection:hover {
  background-color: rgb(6, 94, 121);
}

.vertical-selection:active {
  background-color: rgb(19, 17, 17);
}

.horizontal-selection {
  margin: auto;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(2, 2, 2);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 2px 2px 2px 2px black
}

.horizontal-selection:hover {
  background-color: rgb(6, 94, 121);
}

.horizontal-selection:active {
  background-color: rgb(19, 17, 17);
}

.battleship {
  margin: auto;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(4, 4, 4);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 2px 2px 2px 2px black
}

.destroyer {
  margin: auto;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(4, 4, 4);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 2px 2px 2px 2px black
}

.destroyer:hover {
  background-color: rgb(6, 94, 121);
}

.destroyer:active {
  background-color: rgb(19, 17, 17);
}

.frigate {
  margin: auto;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(4, 4, 4);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 2px 2px 2px 2px black
}

.frigate:hover {
  background-color: rgb(6, 94, 121);
}

.frigate:active {
  background-color: rgb(19, 17, 17);
}

.patrol-coastal {
  margin: auto;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(4, 4, 4);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  box-shadow: 2px 2px 2px 2px black
}

.patrol-coastal:hover {
  background-color: rgb(6, 94, 121);
}

.patrol-coastal:active {
  background-color: rgb(19, 17, 17);
}

.start-game {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 25px;
  color: white;
  text-shadow: 2px 1px 1px rgb(4, 4, 4);
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(218, 12, 12);
  box-shadow: 2px 2px 2px 2px black
}

.game-boards {
  display: flex;
  text-align: center;
}

.square {
  text-align: center;
  background-color: black;
  border: 0px solid rgb(103, 1, 1);
  padding: 0px;
  border-radius: 3px;
}

td {
  padding: 0px;
  width: 50px;
  height: 50px;
}

.label {
  text-align: center;
  text-shadow: 2px 2px 2px black;
  width: 5px;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 0px;
}

.player-board {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(151, 182, 219);
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(67, 96, 60);
  border-radius: 12px;
  box-shadow: 4px 4px 4px 4px black;
}

.computer-board {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(151, 182, 219);
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(84, 45, 45);
  border-radius: 12px;
  box-shadow: 4px 4px 4px 4px black
}

footer {
  display: flex;
  justify-self: space-between;
  justify-content: space-evenly;
}

.copyright {
  display: flex;
}

.info-link {
  display: flex;
}

.ship {
  background-color: white;
  width: 50px;
  height: 50px;
}

.ship-select {
  background-color: rgba(248, 248, 248, 0);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  content: url(./images/pin.svg);
}

.ship-hit {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.268);
  content: url(./images/explosion.svg);
  border-radius: 15px;

}

.ship-miss {
  width: 50px;
  height: 50px;
  background-color: rgba(115, 187, 236, 0.112);
  content: url(./images/splash-1.svg);
  border-radius: 15px;
}

.square:hover {
  background-color: white;
}

.start-game:hover {
  background-color: rgb(6, 94, 121);
}

.start-game:active {
  background-color: rgb(19, 17, 17);
}

.battleship:hover {
  background-color: rgb(6, 94, 121);
}

.battleship:active {
  background-color: rgb(19, 17, 17);
}

/* ==== Responsive CSS Styles ==== */
@media (max-width: 550px) {
  body {
    margin: 2px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-height: 400px;
    width: 100%;
  }

  .game-boards {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  table {
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  .player-board {
    border: 1px solid rgb(52, 245, 4);
    background-color: rgb(67, 96, 60);
    width: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .computer-board {
    border: 1px solid rgb(92, 7, 7);
    background-color: rgb(84, 45, 45);
    width: 100%;
    font-size: 15px;
        justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .battleship {
    display: flex;
    width: 130px;
    justify-content: space-between;
    padding: 3px 10px 0px 10px;
  }

  .destroyer {
    display: flex;
    width: 130px;
    justify-content: space-between;
    padding: 3px 10px 0px 10px;

  }

  .frigate {
    display: flex;
    width: 130px;
    justify-content: space-between;
    padding: 3px 10px 0px 10px;

  }

  .patrol-coastal {
    display: flex;
    width: 130px;
    justify-content: space-between;
    padding: 3px 10px 0px 10px;

  }

  .label {
    font-size: 15px;
    width: 25px;
    padding: 0px;
    margin: 0px;
    width: 0px;
    height: 0px;
  }

  td {
    padding: 0px;
    width: 25px;
    height: 25px;
  }

  .ship {
    width: 25px;
    height: 25px;
    margin: auto;
  }

  .ship-select {
    width: 25px;
    height: 25px;
    margin: auto;
  }

  .ship-hit {
    width: 25px;
    height: 25px;
    margin: auto;
  }

  .ship-miss {
    width: 25px;
    height: 25px;
    margin: auto;

  }

  .game-boards {
    gap: 0px;
  }
}